#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 300px;

    border-right: solid;
    border-color: gray;
}
header {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    
    margin-top: 20px;
}
#navbar ul {
    margin: 0;
    padding: 0;
    height: 800px;
}
#navbar li {
    margin: 0;
    padding: 0;

    list-style: none;
    border-top: 1px solid;
    border-bottom: 1px solid;

    text-align: center;
    line-height: 80px;
}
#navbar a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#navbar a:hover {
    color: green;
}

/* Main document formating */
#main-doc {
    position: absolute;
    margin-left: 310px;
}
.main-section {
    margin-right: 50px;
}
.main-section hr {
    width: 100%;
}
.main-section header{
    text-align: left;
}
.main-section p {
    margin-left: 20px;
    font-size: 17px;
}
.main-section li {
    margin-left: 12px;
}
code {
    display: block;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    /*
    margin-right: 80%;
    */

    line-height: 2;
}

/*
    Maybe move the navbar to the top if  the page is too small
*/
@media (max-width: 1026px) {
    #navbar {
        visibility: hidden;
        display: none;
    }
    #main-doc {
        position: absolute;
        margin-left: 0px;
    }
}