body {
    background: linear-gradient(white, gray);
    margin-right: 10%;
    margin-left: 10%;

}
#img-div {
    text-align: center;
    padding-top: 40px;
}
#image {
    width: 40%;
    height: auto;
    max-width: 625px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 30px;
}
@media (max-width: 480px) {
    #main {
        margin: 0;
    }
}
#tribute-info-container {
    text-align: center;
}
#tribute-info {
    margin-right: 25%;
    margin-left: 25%;
}
footer {
    text-align: center;
}