/* 
    --=-- 
    welcome section remove height and use margin-top padding-bottom
*/

body {
    background-color: rgb(58, 58, 58);
    font-family: "Montserrat", sans-serif;
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:gray; /*gradient here */

}
#navbar li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}
/* play keyframe animation for coloring whenever hovering over anchor */
#navbar a {
    text-decoration: none;
    color: white;
    margin-right: 100px;

    font-size: 25px;
}

/* Welcome */
#welcome-section {
    /*
    margin-top: 100px;
    padding-bottom: 20px;
    Delete height, margin-top and margin-bottom if not using height property
    */
    height: 100vh;
    margin-top: 100px;
    margin-bottom: -300px;
    
    color: white;
    text-align: center;
    
}
#portrait {
    width: 500px;
    margin-top: 40px;
    border-radius: 30px;
    border: 3px solid white;
}

/* Projects section */
#project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
}
.project-tile {
    text-align: center;
    color: white;
}
.project-tile img{
    width: 475px;
    border-radius: 30px;
}
#projects {
    text-align: center;
}
.button {
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 20px;
    text-decoration: none;
}
.button:hover {
    color: skyblue;
}
@media screen and (max-width: 1000px) {
    #project-grid {
        column-gap: 50px;
    }
}
@media screen and (min-width: 1920px) {
    #project-grid {
        margin-right: 250px;
        margin-left: 250px;
    }
}

/* Contact grid */
#contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    padding-left: 150px;
    padding-right: 150px;
}
.contact-tile {
    text-align: center;
    color: white;
}
#github-logo {
    width: 150px;
}
#linkedin-logo {
    width: 150px;
    border-radius: 30px;
}