/* 
    play keyframe animation for coloring whenever hovering over anchor 
    media query to spred the project tabs when window is smaller/ larger

    --=-- 
    welcome section remove height and use margin-top padding-bottom
*/

body {
    background-color: rgb(58, 58, 58);
    font-family: "Montserrat", sans-serif;
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:gray; /*gradient here */

}
#navbar li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}
/* play keyframe animation for coloring whenever hovering over anchor */
#navbar a {
    text-decoration: none;
    color: white;
    margin-right: 100px;

    font-size: 25px;
}

/* Welcome */
#welcome-section {
    /*
    margin-top: 100px;
    padding-bottom: 20px;
    Delete height, margin-top and margin-bottom if not using height property
    */
    height: 100vh;
    margin-top: 100px;
    margin-bottom: -300px;
    
    color: white;
    text-align: center;
    
}
#portrait {
    width: 500px;
    margin-top: 40px;
    border-radius: 30px;
    border: 3px solid white;
}

/* Projects section */
#projects {
    margin-right: 250px;
    margin-left: 250px;
}
#project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.project-tile {
    text-align: center;
    color: white;
}
.project-tile img{
    width: 400px;
    border-radius: 30px;
}
/*
    Maybe unrestrict the l+r margin on the body as well as changing the size of the cells 
    change the sizes of the contact imgs
*/
@media (max-width:1800px) {
    .project-tile img {
        width: 300px;
    }
}
@media (max-width: 1450px) {
    .project-tile img {
        width: 200px;
    }
}
@media (max-width: 1100px) {
    .project-tile img{
        width: 100px;
    }
}

/* Contact grid */
#contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 150px;
    padding-right: 150px;
}
.contact-tile {
    text-align: center;
    color: white;
}
#github-logo {
    width: 200px;
}
#linkedin-logo {
    width: 200px;
}